<mat-card class="mat-card">
  <div class="card-header">
    <div class="card-title" >Upcoming Task</div>
    <span class="spacer"></span>
    <div class="card-search">
      <input
        type="text"
        placeholder="Search.."
        name="search"
        class="search-box"
      />
      <button type="button" class="search-button">
        <img
          src="assets/images/search.svg"
          alt="Search"
          align="right"
          class="search-icon"
        />
      </button>
    </div>
  </div>

  <!-- We rae amking the Responsive site for Mobile -->
<div class="tableContainer">
  <mat-table [dataSource]="dataSource"   matSort>
    <!-- Requested by -->
    <ng-container matColumnDef="requestedBy">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="mat-header-cell mat-sort-header-button"
        mat-sort-header
      >
        Requested By
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.requestedBy.image"
          [alt]="element.requestedBy.name"
          class="userProfile"
        />
        {{ element.requestedBy.name }}
      </td>
    </ng-container>

    <!-- What date it will happen -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <!-- it will assined which person -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
      <td mat-cell *matCellDef="let element">{{ element.task }}</td>
    </ng-container>

    <!-- what is the status of the  -->
    <ng-container matColumnDef="duedate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.duedate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
 </div>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</mat-card>
