<mat-card class="mat-card data-container">
  <div class="title card-header">Service-Request Status Wise</div>
  <div class="card-content">
    <div class="chart">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="doughnutChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="pieChartColors"
      ></canvas>
    </div>
    <div class="labels">
      <ul>
        <li *ngFor="let item of pieChartLabels; let itemIndex = index">
          <span
            [ngStyle]="{
              'background-color': pieChartColors[0].backgroundColor[itemIndex]
            }"
            class="bullet-point "
          ></span>
          <span>{{ item }}</span>
        </li>
      </ul>
    </div>
  </div>
</mat-card>
