.header-graphs {
  background: #0095d2;
}
.graph-row {
  display: flex;
  padding: 10px 8px;
}

* {
  max-width: 100%;
  box-sizing: border-box;
  outline: 0;
  font-family: Montserrat, sans-serif;
}
.column {
  flex: 25%;
  display: flex;
  flex-direction: column;
}
.request {
  flex: 50%;
}
.content-column {
  flex: 65%;
  display: flex;
  flex-direction: column;
}
.request-table {
  flex: 65%;
}
.request-status {
  float: 65%;
}
.upcoming-task {
  flex: 65%;
}
.content-row {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.upcoming-due-days {
  flex: 35%;
}
.request-status {
  flex: 35%;
}
.last-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.spacer {
  flex: 1;
}

.data-container {
  padding: 8px;
}


@media screen and (max-width: 1200px) {
 .info{
   flex: 100%;

 }
 .status{
  flex: 35%;
 }
 .request {
  flex: 65%;
 }
 .graph-row{
   flex-wrap: wrap;
 }
}

@media screen and (max-width: 760px) {

  .request {
   flex: 100%;
  }
  .graph-row{
    flex-wrap: wrap;
  }


 }

